In [4]:
mylist = [1 , 2 , 3 , 4 , 5 , 6 , 7]
item0 = 0
mylist.insert(0, item0)
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
mylist.pop()

7

In [16]:
mylist2 = ["Julia", "Python"]
mylist2.append("R")
print(mylist2)

['Julia', 'Python', 'R']

In [17]:
list = ["SQL", "Scala"]
mylist2.append(list)
print(mylist2)

['Julia', 'Python', 'R', ['SQL', 'Scala']]

In [18]:
mylist2.insert(1, "C++")
print(mylist2)

['Julia', 'C++', 'Python', 'R', ['SQL', 'Scala']]

In [19]:
mylist2.remove("Julia")
print(mylist2)

['C++', 'Python', 'R', ['SQL', 'Scala']]

In [20]:
mylist2.reverse()
print(mylist2)

[['SQL', 'Scala'], 'R', 'Python', 'C++']

In [21]:
mylist3 = [0, 1, 1, 0, 2, 3, 0, 4, 5, 0, 3, 6, 0, 9, 0]
mylist3.count(0)

6

In [22]:
tuple(mylist3)
sum(mylist3)

34